@using EventiaWebapp.Services
@using Microsoft.AspNetCore.Identity
@inject EventsService _eventsService
@inject UserManager<EventiaUser> _userManager
@inject SignInManager<EventiaUser> _signInManager

@{
    var userId = _userManager.GetUserId(User);
    var list = _eventsService.GetEvents();    
    int acordinaCounter = 1;
}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            @foreach (var item in list)
            {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-@acordinaCounter">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@acordinaCounter" aria-expanded="false" aria-controls="flush-collapse-@acordinaCounter">
                                @item.Title - @item.Date.ToShortDateString()
                            </button>
                        </h2>
                        <div id="flush-collapse-@acordinaCounter" class="accordion-collapse collapse" aria-labelledby="flush-heading-@acordinaCounter" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3>@item.Organizer.UserName</h3>
                                <h4>@item.Place</h4>
                                <p>@item.Description</p>
                                <p><strong>@item.Adress</strong></p>
                                <p><strong>Spots: @item.Spots_Available</strong></p>
                                
                                @if (_signInManager.IsSignedIn(User)) 
                                {
                                    var myEvents = _eventsService.GetMyEvents(userId);
                                    var check = myEvents.Any(e => item.EventId == e.EventId);

                                    @if (check) 
                                    {
                                        <p>You have this ticket already!</p>
                                        <a class="btn btn-secondary" asp-controller="Home" asp-action="MyEvents">MyEvents</a>
                                    } 
                                    else 
                                    {
                                        <a class="btn btn-secondary" asp-controller="Events" asp-action="JoinEvent" asp-route-eventId="@item.EventId">Join</a>
                                    }
                                }

                            </div>
                        </div>  
                    </div>
                acordinaCounter = acordinaCounter + 1;

            }
        </div>
        
        
    