@using EventiaWebapp.Models
@using EventiaWebapp.Services
@inject EventsService _eventsService

@{
    var MyEvents = _eventsService.GetMyEvents(1);
    int acordinaCounter = 1;
}



<div class="accordion accordion-flush" id="accordionFlushExample">
    @foreach (var item in MyEvents)
    {
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-@acordinaCounter">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@acordinaCounter" aria-expanded="false" aria-controls="flush-collapse-@acordinaCounter">
                    @item.Title - @item.Date.ToShortDateString()
                </button>
            </h2>
            <div id="flush-collapse-@acordinaCounter" class="accordion-collapse collapse" aria-labelledby="flush-heading-@acordinaCounter" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <h3>@item.Organizer.Name</h3>
                    <h4>@item.Place</h4>
                    <p>@item.Description</p>
                    <p><strong>@item.Adress</strong></p>
                    <p><strong>Spots: @item.Spots_Available</strong></p>
                    <p>You have a ticket</p>
                </div>
            </div>
        </div>
        acordinaCounter = acordinaCounter + 1;

    }
</div>

