@using EventiaWebapp.Services
@using Microsoft.AspNetCore.Identity
@inject EventsService _eventsService
@inject UserManager<EventiaUser> _userManager

@{
    var UserId = _userManager.GetUserId(User);
    var MyEvents = _eventsService.GetMyEvents(UserId);
    var Attendee = _eventsService.GetAttendee(UserId);
    int acordinaCounter = 1;
}

<h3 class="myEventUser">@Attendee.FirstName´s eventlist!</h3>

<div class="accordion accordion-flush" id="accordionFlushExample">
    @foreach (var item in MyEvents)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-@acordinaCounter">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@acordinaCounter" aria-expanded="false" aria-controls="flush-collapse-@acordinaCounter">
                    @item.Title - @item.Date.ToShortDateString()
                </button>
            </h2>
            <div id="flush-collapse-@acordinaCounter" class="accordion-collapse collapse" aria-labelledby="flush-heading-@acordinaCounter" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <h3>@item.Organizer.UserName</h3>
                    <h4>Location @item.Place</h4>
                    <p><strong>@item.Adress</strong></p>
                    <p>You have a ticket to this one!</p>
                </div>
            </div>
        </div>
        acordinaCounter = acordinaCounter + 1;

    }
</div>

